.lightboard
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    background-color: gray;
    
}

.lightboard  .light
{
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border:3px solid black;
}
.lock-wrapper
{
    margin:10px;
}
.user-color
{
    padding:10px 100px;
    margin: 0px 5px;
}
.light.js-light-clickable:hover, #acquire-lock.btn-success:hover
{
    cursor: pointer;
}
.light.js-light-unclickable:hover, #acquire-lock.btn-warning:hover, #acquire-lock.btn-danger:hover
{
    cursor: not-allowed;
}